@import './src/common/styles/variables.scss';

.header {
    height: 80px;
    padding: 0 50px;
    background-color: $bgColor;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    opacity: 0.9;
}