.contacts {
    background-color: #1c1d24;
}

.containerContacts {
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
}

.formContacts{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.title {
    background-color: aquamarine;
}
