@import './src/common/styles/variables.scss';

.contacts {
    background-color: $bgSecondColor;
}

.containerContacts {
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 30px;
}

.formContacts{
    display: flex;
    flex-direction: column;
    width: 250px;
}
