@import './src/common/styles/variables.scss';

.work {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;

  .workContainer {
    background: $bgSecondColor;
    box-shadow: 0 25px 50px -12px rgb(0 0 0);
    padding: 40px 30px;
    position: relative;
    transition: all .35s ease;
    top: 0;
    z-index: 1;

    .icon {
      height: 300px;
      width: 300px;
      background-color: $bgSecondColor;
      background-size: cover;
      background-position: center;

      .button {
        text-decoration: none;
        position: relative;
        margin-top: 140px;
        padding: 5px;
        background: #f6ba82;
        transition-duration: 0.4s;
        border-radius: 5px;
        color: #5e6472;
        z-index: 2;
        visibility: hidden;
        opacity: 0;

        &:hover {
          background-color: black;
          color: white;
          text-decoration: none;
        }

        &:active {
          text-decoration: none;
        }
      }
    }

    .workTitle {
      color: $colorTitle;
      font-weight: 700;
      margin-bottom: 15px;
      line-height: 1.2;
      font-size: 1.25rem;
    }

    .description {
      color: $colorSubtitle;
      font-family: "Nunito", sans-serif;
      line-height: 1.7;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .workContainer::before {
    position: absolute;
    content: '';
    background-color: $bgSecondColor;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
  }

  .workContainer:hover {
    transition: all linear .2s;
    background: #ffbb8a;
    .workTitle {
    color: black
    }
  }

  &:hover .workContainer .icon .button {
    visibility: visible;
    opacity: 1;
  }

  &:hover .workContainer:before {
    visibility: hidden;
  }
}
