.portfolio {
    background-color: darkcyan;

}

.container {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

.title{
    background-color: aquamarine;
}

.works{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}