.title {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 45px;
    font-weight: 800;
    position: relative;
    margin: 0 0 15px;
    padding: 0 0 15px;
    text-transform: capitalize;
}

.title::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background: #dc965a;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}