@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.title {
  @include titleText($colorTitle, $titleFont, 45px, 800);
  position: relative;
  margin: 0 0 30px;
  padding: 0 0 15px;
  text-transform: capitalize;

  &::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background: $primaryColor;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

