.home {
    height: 100vh;
    background-color: #1c1d24;
}

.homeContainer {
    justify-content: flex-start;
}

.text {
    width: 450px;
    background-color: bisque;
}

/*@media (max-width: 767px) {*/
/*    .home{*/
/*        background-color: cornflowerblue;*/
/*    }*/
/*}*/



