@import './src/common/styles/variables.scss';


.home {
  height: 100vh;
  background-image: url('background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.homeContainer {
  justify-content: flex-start;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Nunito", serif;
  color: $colorTitle;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1.2;
}




