@import './src/common/styles/variables';
.aboutUs {
    min-height: 100%;
    background-color: $bgColor;
    display: flex;
    align-items: center;
}

.aboutUsContainer {
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100%;
    flex-direction: column;
    padding-top: 50px;
}

.photo img{
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
    width: 400px;
}

.info {
    color: $colorSubtitle;
    width: 300px;
    font-weight: 700;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 80%;
}