.skillsBlock {
    background-color: #1c1d24;
}

.containerSkills {
    flex-direction: column;
    padding-top: 50px;
}

.skills {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
h2{
    line-height: 1;
}
