@import './src/common/styles/variables.scss';

.skillsBlock {
    background-color: $bgSecondColor;
}

.containerSkills {
    flex-direction: column;
    padding-top: 50px;
}

.skills {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
h2{
    line-height: 1;
}
