@import './src/common/styles/variables.scss';

.nav {
  position: relative;
  width: 450px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
}

.container {
  border: 1px solid;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button {
  text-decoration: none;
  position: relative;
  transition-duration: 0.4s;
  color: $colorTitle;
  padding: 10px 0;
  z-index: 2;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .05rem;
  cursor: pointer;


  &:hover {
    color: $primaryColor;
    text-decoration: none;
    transition: .3s;

    &::before {
      position: absolute;
      left: 0;
      content: "";
      height: 3px;
      background: $primaryColor;
      transition: .3s;
      bottom: 0;
      width: 100%;
    }
  }

  &:active {
    text-decoration: none;
  }

}

//position: absolute;
//top: none;
//right: none;
//left: 0;
//content: "";
//height: 3px;
//background: #f9004d;
//transition: .3s;
//bottom: 0;
//width: 100%;
//          transform: scaleX(1);
//transform-origin: left;