.nav {
    border: 1px solid darkred;
    width: 450px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.container {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}