@import './src/common/styles/variables.scss';

.footer{
    background-color: $bgColor;
    min-height: 100%;
}

.containerFooter {
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
}

.social{
    display: flex;
    justify-content: space-between;
}

.icon{
    width: 30px;
    height: 30px;
    background-color: bisque;
    margin: 5px;
}

.footerText{
    color: $colorSubtitle;
}