@import './src/common/styles/variables.scss';
@import './src/common/components/button/button.module';

.contacts {
  background-color: $bgSecondColor;
}

.containerContacts {
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 30px;
}

.formContacts {
  display: flex;
  flex-direction: column;
  width: 450px;

  @media screen and (max-width: 767px) {
    width: 250px;
  }
}

.info {
  color: white;
  font-weight: 500;
  text-align: justify;
  font-size: 21px;
  margin-left: 20px;
  margin-bottom: 20px;
}


.input,
.textarea {
  background: #414b64;
  border: 1px solid $bgColor;
  box-sizing: border-box;
  outline: none;
  color: $colorTitle;
  margin: 5px 0;

  &:-webkit-autofill {
    border: 0;
    -webkit-text-fill-color: $colorTitle;
    -webkit-box-shadow: 0 0 0 1000px #414b64 inset;
    transition: background-color 5000s ease-in-out 0s;

    &:focus {
      border: 2px solid $bgColor;
    }
  }
}

.input {
  height: calc(1.5em + .75rem + 2px);
  padding: .4rem 15px;

  &:focus {
    border: 1px solid transparent;
    transition: all 0.4s ease-in-out 0s;
  }
}

.textarea {
  min-height: 160px;
  padding: 15px;
  resize: none;

  &:focus {
    border: 1px solid transparent;
    transition: all 0.4s ease-in-out 0s;
  }
}

.button {
  @extend .button;
  margin-top: 20px;
}

